@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*font-family: 'Roboto', sans-serif;*/

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*--------------------CSS login-screen----------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    background-color: #FFFFFF;
}

main img{
    width: 130px;
    height: 92px;
    
    margin-bottom: 100px;
    margin-top: 70px;
}

main input{
    width: 261px;
    height: 54px;

    border: 1px solid #D7D7D7;
    border-radius: 4px;
    outline-style: none;

    margin-bottom: 30px;

    text-align: center;
}

main button {
    width: 109px;
    height: 45px;
}

.loading {
    position: fixed;
    top: 150px;

    width: 250px;
}

/*-------------------CSS login-screec----------------------*/

.main {
    height: 100%;
    max-width: 600px;
    background-color: #F3F3F3;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
}

header {
    position: fixed;
    top: 0;

    box-shadow: 3px 5px 5px rgb(224, 224, 224);

    background-color: #fff;
}

footer{
    position: fixed;
    bottom: 0;

    box-shadow: 3px -5px 5px rgb(224, 224, 224);

    background-color: #fff;
}

.logo {
    height: 53px;
    width: 75px;
    margin-left: 22px;
}

.menu {
    width: 42px;
    height: 31px;
    margin-right: 22px;
}

footer input{
    height: 80%;
    margin-left: 22px;

    font-size: 18px;

    border: none;
    outline-style: none;

    width: 100%;
}
footer button {
    border: none;
    background-color: #fff;
    margin-right: 22px;

    cursor: pointer;
}

/*-------------------------------------Chat---------------------------------*/
.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

    width: 100vw;
    height: 75.5vh;

    overflow-y: scroll;

    font-size: 14px;
    font-weight: 400;

}

.msg span{
    font-weight: 700;
}

.msg {
    display: flex;
    width: 100%;
    height: 40px;

    margin: 2.5px 0;

    align-items: center;

    background-color: #fff;
}

.status {
    background-color: #DCDCDC;
}

.reservada {
    background-color: #FFDEDE;
}

/*--------------------------------Menu Lateral---------------------------*/
.participantes {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
}

.fechar {
    height: 100vh;
    width: 30%;

    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.menu_lateral{
    width: 70%;
    height: 100vh;

    background-color: #fff;
}